body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #081b29;
}

.eye {
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.eyeball {
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
